services:
  mosquitto:
    image: eclipse-mosquitto:2
    restart: unless-stopped
    ports:
      - "1883:1883"
    volumes:
      - ./docker/mosquitto.conf:/mosquitto/config/mosquitto.conf:ro

  pds-edge:
    build:
      context: .
      dockerfile: docker/Dockerfile.jp6
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - GODOWN_ID=${GODOWN_ID}
      - EDGE_BACKEND_TOKEN=${EDGE_BACKEND_TOKEN}
      - MQTT_BROKER_HOST=${MQTT_BROKER_HOST}
      - MQTT_BROKER_PORT=${MQTT_BROKER_PORT}
      - MQTT_USERNAME=${MQTT_USERNAME}
      - MQTT_PASSWORD=${MQTT_PASSWORD}
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,video,utility,graphics
      - EDGE_CAMERAS_SOURCE=backend
      - EDGE_RULES_SOURCE=backend
      - EDGE_BACKEND_URL=https://cv.krishvatech.com
      - EDGE_TIMEZONE=Asia/Kolkata
      - YOLO_CONFIG_DIR=/opt/app/.cache/Ultralytics
      - EDGE_FIRE_DEVICE=cuda:0
      - EDGE_LIVE_ANNOTATED_DIR=/live
      - EDGE_OVERRIDE_DIR=/opt/app/data/edge_overrides
      - EDGE_SNAPSHOT_DIR=/opt/app/data/snapshots

    runtime: nvidia
    volumes:
      - ./:/opt/app
      - ${EDGE_SNAPSHOT_HOST_DIR:-/data/pds-backend/snapshots}:/opt/app/data/snapshots
      - ./data/ultralytics:/opt/app/.cache/Ultralytics
      - ./data/insightface:/root/.insightface
      - ./data/paddleocr:/root/.paddleocr
      - ./data/paddlex:/root/.paddlex
      - /data/pds-live:/live
      - /data/pds-backend/edge_overrides:/opt/app/data/edge_overrides:ro
      - /data/pds-backend/uploads:/opt/app/data/uploads:ro
    depends_on:
      - mosquitto
