services:
  mosquitto:
    image: eclipse-mosquitto:2
    restart: unless-stopped
    ports:
      - "1883:1883"
    volumes:
      - ./docker/mosquitto.conf:/mosquitto/config/mosquitto.conf:ro

  pds-edge:
    build:
      context: .
      dockerfile: docker/Dockerfile.jp6
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - GODOWN_ID=${GODOWN_ID}
      - EDGE_BACKEND_TOKEN=nD3TVXZkGOLb-6_Vuf-WIdEDY9aDY6OO787lQ9Ay3wc
      - MQTT_BROKER_HOST=mosquitto
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,video,utility,graphics
      - EDGE_CAMERAS_SOURCE=backend
      - EDGE_RULES_SOURCE=backend
      - EDGE_BACKEND_URL=https://cv.krishvatech.com
      - EDGE_TIMEZONE=Asia/Kolkata
      - YOLO_CONFIG_DIR=/opt/app/.cache/Ultralytics
      - EDGE_FIRE_DEVICE=cuda
      - EDGE_LIVE_ANNOTATED_DIR=/live
      - EDGE_OVERRIDE_DIR=/opt/app/data/edge_overrides

    runtime: nvidia
    volumes:
      - ./:/opt/app
      - ./data/ultralytics:/opt/app/.cache/Ultralytics
      - ./data/insightface:/root/.insightface
      - /data/pds-live:/live
      - /data/pds-backend/edge_overrides:/opt/app/data/edge_overrides:ro
      - /data/pds-backend/uploads:/opt/app/data/uploads:ro
    depends_on:
      - mosquitto
